<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839694002070-hj4jni6f1kd1am3geqc9atvtjiqb04cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839694002070-hj4jni6f1kd1am3geqc9atvtjiqb04cp</string>
	<key>API_KEY</key>
	<string>AIzaSyDH5eotT4Z3_WdiWYX2auHx67b75goS4Xw</string>
	<key>GCM_SENDER_ID</key>
	<string>839694002070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jumpcoders.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramfirestoretutori-ca399</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirestoretutori-ca399.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839694002070:ios:5b80b9e162ad348042dfb7</string>
</dict>
</plist>